<link rel="stylesheet" href="/css/main.css">

<div class="main" style="display:none;">

	<div class="main_cut">
		<div class="main_cut_box">
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
		</div>
	</div>

	<div class="main_box">
		<small style="display:none;"></small>
		<div class="main_box_first">
			<img src="/upload/file_1622365936491.jpg" alt="">
		</div>
		<div class="main_box_second">
			<div class="main_box_second_top">
				<div class="main_box_second_top_image">
					<img src="https://lh3.googleusercontent.com/a-/AOh14Ghfik8l2_cHxmGkIsznL8oDcU7yQB6jRGdm4sY1=s96-c" alt="">
				</div>

				<h2>Shivam</h2>
			</div>


            <div class="main_box_second_medium">
            	<div class="main_box_second_medium_image">
            		<img src="https://lh3.googleusercontent.com/a-/AOh14Ghfik8l2_cHxmGkIsznL8oDcU7yQB6jRGdm4sY1=s96-c" alt="">
            	</div>
            	<p>
            		<cite>Shivam kumar</cite>
            		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            	</p>
            </div> 



            <div class="main_comment">
            	<div class="main_comment_box">
            		<div class="main_comment_box_image">
            			<img src="https://lh3.googleusercontent.com/a-/AOh14Ghfik8l2_cHxmGkIsznL8oDcU7yQB6jRGdm4sY1=s96-c" alt="">
            		</div>

                    <p>
                    	<cite>Satyam</cite>
                    	<p>this is a boss and a world</p>
                    </p>

            	</div>
            </div>

            <div class="main_like">
            	<div class="main_like_box">
            		<div class="main_like_box_like">
            			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg>
            		</div>
            	</div>

                <h2>20,567 likes</h2>

            </div>


            <div class="main_form">
            	<div class="main_form_smile">
            		
            	</div>
            	<input type="text" value="" placeholder="Add a Comment">
            	<button class="main_post_btn">post</button>
            </div>



		</div>





	</div>
</div>

<script src="/js/main.js"></script>