
	<nav>
		<div class="nav-first">
			<div class="insta-icon">
				<img src="/img/download (5).jpeg" alt="">
			</div>
			<div class="insta-name">
				<img src="/img/images (5).png" alt="">
			</div>
		</div>
   
        <div class="nav-second">
        	<input type="text" placeholder="search">
        </div>


        <div class="nav-third">
        	
        	<a href="/home">
        		<abbr title="home">
        			<div class="nav-icons"><img src="/img/ic_home_48px-256.webp" alt=""></div>
        		</abbr>
        	<a>
        	
        	
        	<abbr title="post a Story">
        			<div id="navbar_add_btn" class="nav-icons"><img src="/img/21-interface_-_plus_add-256.webp" alt=""></div>
        	
        	</abbr>
        	
        	<a href="/follow">
        		<div class="nav-icons"><img src="/img/Heart_2-256.webp" alt=""></div>
        	<a>
        	
        	<a href="/profile">
        		<abbr title="view profile">
        			<div class="nav-icons"><img src="/img/user_account_profile-256.webp" alt=""></div>
        		</abbr>
        	<a>
        </div> 


<div class="mobile" style="display: none;">
        <a href="/home">
                <div class="mobile_box">
                <img src="/img/ic_home_48px-256.webp" alt="">
        </div>
        </a>
      


        
                <div id="" class="mobile_box" id="mobile_add">
                <img src="/img/21-interface_-_plus_add-256.webp" alt="</a>">

        </div>
        
        
        <a href="/">
                <div class="mobile_box">
                <img src="/img/Heart_2-256.webp" alt="">
        </div>
        </a>

      <a href="/profile">
        <div class="mobile_box">
                <img src="/img/user_account_profile-256.webp" alt="">
        </div>
        </a>


</div>



	</nav>


