*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}



.container{

}


.box{
        margin: auto;
    height: fit-content;
    background-color: #f3f3f3;

}


.index_following{
    display: flex;
    max-width: 791px;
    margin: 25px auto;
    background: white;
    padding: 8px 5px;
    border: 1px solid #e0d8d8;
    overflow-x: scroll;
}


.index_following_box{
    display: flex;
    flex-direction: column;
    margin: 1px 10px;
    
    text-align: center;
    align-items: center;
}

.index_following_box img{
    width: 60px;
    height: 59px;
    border-radius: 58px;
    object-fit: cover;

}

.index_following_box cite{
        font-weight: bold;
    font-family: sans-serif;
    margin: 4px 0px;
}

.index{

}

.index_box{
   max-width: 791px;
    background-color: white;
    min-width: 10px;
    margin: 21px auto;
    border: 1px solid #e0d8d8;
}

.index_box_top{
        display: flex;
    align-items: center;
    padding: 6px 0px 3px 13px;

}


.index_box_top h2{
        font-family: system-ui;
    font-weight: 600;
    font-size: 20px;
    margin-left: 13px;
}


.index_box_image{

}	



.index_box_image img{
	width: 60px;
    height: 59px;
    border-radius: 58px;
    object-fit: cover;
}	


.index_box_medium{

}


.index_box_medium img{
    object-fit: cover;
    width: 100%;
}

.index_box_bottom{
    display: flex;
    margin-left: 12px;
    align-items: center;
}

.index_box_bottom_like_btn{

}

.index_box_bottom_share{

}


.index_box_bottom_like{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin: 6px 7px;
}

.index_box_bottom_desc{
    display: flex;
}
.index_box_bottom_desc cite{
	font-weight:bold;
}
.index_box_bottom_desc p{
    margin: 7px 7px;
    font-family: system-ui;
}


.index_box_bottom_comment{
 
}

.index_box_bottom_comment_box{
      display: flex;
    align-items: center;
    margin: 6px 9px;

}


.index_box_bottom_comment_box cite{
   font-weight:bold;
}
.index_box_bottom_comment_box p{
    font-family: system-ui;
    font-size: 0.9rem;
    margin-left: 9px;
}


.index_box_bottom_add_post{
    display: flex;
    padding: 1px 10px;
    border-top: 2px solid #e0d8d8;
    margin: 13px 10px;
}


.index_box_bottom_add_post span{
	    flex: 0.05;

}

.index_box_bottom_add_post input{
    flex: 0.9;
    height: 28px;
    outline: none;
    border: navajowhite;
    font-family: system-ui;
    font-weight: 500;
}


.index_box_bottom_add_post button{
	    flex: 0.05;
    border: none;
    outline: none;
    background: transparent;
    font-family: system-ui;
    font-weight: 800;
    color: #02adff;
    font-size: 15px;
    cursor: pointer;
}





@media (max-width: 1090px) {
    .profile{
            flex-direction: column;
    }

    .image{
            justify-content: center;
    }

    .name{
        justify-content: center;
    margin: 15px 0px;
    }


    .name button{
        display:none;
    }

    .about{
        justify-content: center;
    }

    .followers{
        flex-direction:column;
    }

    .following{
       flex-direction:column;
       
    }

    .posts{
       flex-direction:column;
       
    }
    .profile_user_data_posts_box img{
            height: 325px;
        object-fit: cover;
        width: 100%;
    }

    .profile_user_data_posts{
            display: flex;
        flex-direction: column;
    }

    .info{
        margin-left:0px;
    }


    .profile_user_data_posts_box{
        max-width:1000px;
    }

}




@media (max-width: 1000px) {
        .upload_image_main form{
                min-width: 12px;
    max-width: 912px;
    margin: auto;
    min-height: 34px;
        }


        .upload_image_box{
                min-width: 12px;
    max-width: 912px;
    margin: auto;
    min-height: 34px;
        }




        .upload_image_box_select_image{
            height:100%;
        }

        .upload_image_box_select_image img {

                max-height: 218px;
    min-height: 12px;
        }


        .upload_image_box_btn button {
                height: 27px;
    width: 26px;
        }

.upload_image_data textarea{
    height:50px !important;
}

.upload_image_box_select_image {
    width:100%;
        max-height: 246px;
}





.main_box{
        flex-direction: column;
}


.main_box_first img{
        max-height: 221px;
}

.main_box_second_top{
    padding: 2px 5px;
}


.main_box_second_medium{
        overflow: scroll;
    height: 62px;
}


.main_comment{
        height: 74px !important;
}


.main_like{
    height: 34px;
}




}























